@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
nav{
    margin-top: 0px;
    width: 100%;
    height: 35px;
}

nav > ul {
     list-style-type: none;
     margin: 0;
     padding: 14px;
     overflow: hidden;
     background-color: #333;
    
} 
nav>ul>li {
    float: left;
    margin-left: 1rem;
}

nav >ul>li>a {
    font-size: 1.2rem;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active a:hover {
    background-color: #4CAF50;      
}

.mt {
    margin-top:1.3rem;
}

.container {
    margin-left:350px; 
    margin-right: 150px;
    margin-top: 30px;
}

.Weather {  
    text-align: center;    
    background-color: #DDD6BD;
    margin-top: 1rem;
    margin-left: 220px;
    box-shadow: 0 4px 8px 0 rgba(1, 0, 1, 0.2);
    transition: 0.3s;
    padding: 1%;
    width: 50%; 
    font-family: 'EB Garamond',
    serif;
}
.Weather:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}

.ulStyle {    
    list-style-type: none;
    margin-top: 1rem;
}

.Forecast {
    position: absolute;
    border-style: solid;
    background-color: #9494FF;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 3%;
    top: 185px;
    left:50px
}

h1 {
    margin-top: 50px;
    margin-left: 5px;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Playfair Display',
    serif;
}


@media screen and (max-width: 1560px) {
    
    .container {
        margin-left: 120px;
        
    }
    .Weather{
        margin-left: 250px;
        padding: 5%;        
    }

    .Forecast {
        top: 200px;
        left: 50px
    }

}